html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#status {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    display: grid;
    grid-gap: 24px;
    justify-items: center;
}

#rules {
    margin: 0 0 -16px;
}

article p {
    margin: 0 0 16px;
    color: #668686;
}

buttons {
    display: block;
}

buttons button {
    margin: 0 8px;
}

#demo-combination set {
    max-width: 164px;
    margin: 0 auto;
    position: relative;
}

#demo-combination set hole {
    position: relative;
    z-index: 1;
}

board {
    width: 300px;
    padding: 24px 24px 16px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

help {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}

help p {
    position: absolute;
    background: #ffffff88;
    padding: 4px 24px;
    margin: 0;
}

board:before,
#demo-combination set:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    filter: brightness(1.6);
    background: url(texture.jpg);
}

#demo-combination set:before {
    border-radius: 3px;
}

board:after {
    content: 'goki';
    color: #800000;
    font-weight: bold;
    margin-top: 8px;
    text-align: right;
    position: relative;
    z-index: 1;
}

row {
    display: flex;
    position: relative;
    z-index: 1;
}

set {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #30251cde;
    border-radius: 5px;
    height: 40px;
    flex: 1 1 auto;
}

set.small {
    flex-basis: 35%;
}

set.large {
    flex-basis: 65%;
}

hole {
    display: block;
    border-radius: 50%;
    background: #30251cab;
    height: 15px;
    width: 15px;
}

set.small hole {
    width: 10px;
    height: 10px;
}

set.small hole.black {
    background: #000;
    outline: 2px solid #000;
}


set.small hole.white {
    background: #eee;
    outline: 2px solid #eee;
}

set.large hole.blue {
    background: #138cf6;
    outline: 1px solid #138cf6;
}

set.large hole.green {
    background: #0db518;
    outline: 1px solid #0db518;
}

set.large hole.yellow {
    background: #f3e43f;
    outline: 1px solid #f3e43f;
}

set.large hole.orange {
    background: #ff8100;
    outline: 1px solid #ff8100;
}

set.large hole.red {
    background: #db2121;
    outline: 1px solid #db2121;
}

row.active set.large hole:hover {
    cursor: pointer;
}